<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello</title>
    </head>
    <body>

        <h1 data-th-text="${hello}"></h1>

        <hr>

        <form method="POST" action="/">
            <table>
                <tr>
                    <td>Message:</td>
                    <td>
                        <input type="text" name="text" size="40" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button type="submit">Update</button> </td>
                </tr>
            </table>

        </form>
        
    </body>
</html>