/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.thumbnail {
  height: 7vh;
  width: auto;
  margin-right: 3vw;
}

.form-field {
  width: 98vw;
  margin-top: 1.5vw;
  margin-left: 1vw;
}

.button-bar {
  display: flex;
  margin-top: 3vh;
  justify-content: space-around;
}
