<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breweries</title>
    </head>
    <body>

		 <h1>Breweries </h1>

		 <h3><a href="/">Back</a></h3>

		 <div data-th-if="${#lists.size(breweries) <= 0}">
			  <h2>No breweries has that beer</h2>
		  </div>
		  <div data-th-each="b: ${breweries}" data-th-if="${#lists.size(breweries) > 0}" 
                style="border: 1px black solid; border-radius: 8px; padding: 8px; margin-bottom: 2px;">
            <span data-th-text="${b.name}"></span>
        </div>
        
    </body>
</html>
