<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Not found</title>
        <style>
            .center-it {
                width: 95vw;
                height: 95vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="center-it">
            <h2>Not Found</h2>
            <div>
                <img src="/not_found.gif" alt="">
            </div>
            <div>
                <a href="/">Back</a>
            </div>
        </div>
        
    </body>
</html>