<h2>Order</h2>

<table>
  <tr>
    <td>Name:</td>
    <td>{{ order?.name }}</td>
  </tr>
  <tr>
    <td>Address:</td>
    <td>{{ order?.address }}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{ order?.email }}</td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>{{ order?.phone }}</td>
  </tr>
  <tr>
    <td>Express:</td>
    <td>{{ order?.express }}</td>
  </tr>
  <tr>
    <td>Delivery:</td>
    <td>{{ order?.delivery }}</td>
  </tr>
  <tr>
    <td>Total:</td>
    <td>{{ total }}</td>
  </tr>
</table>
